<% content_for :head do %>
<%= stylesheet_link_tag :landing2 %>
<title>Procesos Judiciales | Bienvenido 2</title>
<% end %>
<%= render "layouts/logo" %>
<div class="container">
	<%= render 'layouts/flash' %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<center>
				<iframe width="462" height="260" src="//www.youtube.com/embed/YtmUOstckPU?rel=0" frameborder="0" allowfullscreen></iframe>
			</center>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h2>Ahorre tiempo en la gestión de sus procesos</h2>
			<p class="justificado">
				Procesos Judiciales es una aplicación en la nube para abogados que permite llevar la información básica de los casos, alarmas y notificaciones de eventos importantes, así como hacer seguimiento de los casos en los juzgados.
			</p>
			<p>
				<%= link_to "Registrarse", new_usuario_path(referer: @referer), class: "btn btn-default pull-right" %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-5">
			<br />
			<br />
			<%= link_to image_tag("rackspace_white.png"), "http://www.rackspace.com/" %>
			<br />
		</div>
	</div>
</div>