<% content_for :head do %>
<%= stylesheet_link_tag :landing1 %>
<title>Procesos Judiciales | Bienvenido 1</title>
<% end %>
<div class="full-width-image-1">
	<%= render "layouts/logo" %>
	<div class="container">
		<%= render 'layouts/flash' %>
		<div class="row">
			<div class="col-md-7 col-lg-7">
				<br />
				<center>
					<iframe width="560" height="315" src="//www.youtube.com/embed/YtmUOstckPU?rel=0" frameborder="0" allowfullscreen></iframe>
				</center>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h3>¿Quieres saber más?</h3>
				<%= render "usuarios/form" %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-4 beneficio">
			<div class="tablediv">
				<div class="tabledivcell">
					<%= content_tag :span, "", class: "glyphicon glyphicon-briefcase", style: "font-size: 50px;" %>
					<h2>El juzgado a un click</h2>
					<p class="beneficio">
						Procesos Judiciales es una aplicación en la nube para abogados que permite llevar la información básica de tus casos y el historial de actuaciones.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 beneficio">
			<div class="tablediv">
				<div class="tabledivcell">
					<%= content_tag :span, "", class: "glyphicon glyphicon-time", style: "font-size: 50px;" %>
					<h2>Ahorra tiempo</h2>
					<p class="beneficio">
						Procesos Judiciales permite hacerle seguimiento al caso en los juzgados para que no tengas que perder tiempo desplazándote ni esperando en los juzgados.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="tablediv">
				<div class="tabledivcell">
					<%= content_tag :span, "", class: "glyphicon glyphicon-send", style: "font-size: 50px;" %>
					<h2>Recibe notificaciones</h2>
					<p class="beneficio">
						Recibe notificaciones en tu correo electrónico acerca del movimiento de tu procesos como lo son estados, traslados, edictos y recordatorios de audiencias
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-5">
			<br />
			<br />
			<%= link_to image_tag("rackspace.png"), "http://www.rackspace.com/" %>
			<br />
			<br />
			<br />
		</div>
	</div>
</div>
