<%= form_for(@usuario, html: { role: "form" }) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h4>No se pudo guardar por los siguientes motivos:</h4>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre" %>
  </div>
  <div class="form-group">
    <%= f.label :telefono, "Teléfono" %>
    <%= f.text_field :telefono, class: "form-control", placeholder: "Teléfono" %>
  </div>
  <div class="form-group">
    <%= f.label :ciudad %>
    <%= f.text_field :ciudad, class: "form-control", placeholder: "Ciudad" %>
  </div>
  <div class="form-group">
  	<%= f.label :correo %>
    <%= f.text_field :correo, class: "form-control", placeholder: "Correo" %>
  </div>
  <div class="actions">
    <%= f.submit "Registrarse", class: "btn btn-default btn-block" %>
  </div>
<% end %>
