<h1>Listado de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Ciudad</th>
      <th>Correo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.ciudad %></td>
        <td><%= usuario.correo %></td>
        <td><%= link_to 'Ver', usuario %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_usuario_path %> |
<br />
<%= link_to "Estadísticas", estadisticas_index_path %>
<br />
<%= link_to "Cerrar Sesión", destroy_administrador_session_path, method: :delete %>
