<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @usuario.telefono %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @usuario.ciudad %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @usuario.correo %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @usuario.created_at %>
</p>

<%= link_to 'Atrás', usuarios_path %>
