<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @estadistica.url %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @estadistica.hits %>
</p>

<%= link_to 'Edit', edit_estadistica_path(@estadistica) %> |
<%= link_to 'Back', estadisticas_path %>
